In [1]:
# https://tibble.tidyverse.org/reference/add_row.html
%run nb_helpers.py

from datar.tibble import *
from datar.base import head
from datar.datasets import mtcars, iris

nb_header(has_rownames, remove_rownames, rownames_to_column, rowid_to_column, column_to_rownames, book='rownames')

### <div style="background-color: #EEE; padding: 5px 0 8px 0">★ has_rownames</div>

##### Detect if a data frame has row names

Aliases `has_index`

##### Args:
&emsp;&emsp;`_data`: The data frame to check

##### Returns:
&emsp;&emsp;True if the data frame has index otherwise False.

### <div style="background-color: #EEE; padding: 5px 0 8px 0">★ remove_rownames</div>

##### Remove the index/rownames of a data frame

Aliases `remove_index`, `drop_index`, `remove_rownames`

##### Args:
&emsp;&emsp;`_data`: The data frame

##### Returns:
&emsp;&emsp;The data frame with index removed

### <div style="background-color: #EEE; padding: 5px 0 8px 0">★ rownames_to_column</div>

##### Add rownames as a column

Aliases `index_to_column`

##### Args:
&emsp;&emsp;`_data`: The data frame
&emsp;&emsp;`var`: The name of the column

##### Returns:
&emsp;&emsp;The data frame with rownames added as one column. Note that the
&emsp;&emsp;original index is removed.

### <div style="background-color: #EEE; padding: 5px 0 8px 0">★ rowid_to_column</div>

##### Add rownames as a column

##### Args:
&emsp;&emsp;`_data`: The data frame
&emsp;&emsp;`var`: The name of the column

##### Returns:
&emsp;&emsp;The data frame with row ids added as one column.

### <div style="background-color: #EEE; padding: 5px 0 8px 0">★ column_to_rownames</div>

##### Set rownames/index with one column, and remove it

Aliases `column_to_index`

##### Args:
&emsp;&emsp;`_data`: The data frame
&emsp;&emsp;`var`: The column to conver to the rownames

##### Returns:
&emsp;&emsp;The data frame with the column converted to rownames

In [2]:
has_rownames(mtcars)

True

In [3]:
has_rownames(iris)

False

In [4]:
remove_rownames(mtcars) >> has_rownames()

False

In [5]:
mtcars_tbl = rownames_to_column(mtcars, var="car") 
mtcars_tbl

,mpg,car,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<float64>,<object>,<int64>,<float64>,<int64>,<float64>,<float64>,<float64>,<int64>,<int64>,<int64>,<int64>
0,21.0,Mazda RX4,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,21.0,Mazda RX4 Wag,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,22.8,Datsun 710,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,21.4,Hornet 4 Drive,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,18.7,Hornet Sportabout,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,18.1,Valiant,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,14.3,Duster 360,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,24.4,Merc 240D,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,22.8,Merc 230,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,19.2,Merc 280,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,17.8,Merc 280C,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,16.4,Merc 450SE,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,17.3,Merc 450SL,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,15.2,Merc 450SLC,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,10.4,Cadillac Fleetwood,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,10.4,Lincoln Continental,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,14.7,Chrysler Imperial,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,32.4,Fiat 128,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,30.4,Honda Civic,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,33.9,Toyota Corolla,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,21.5,Toyota Corona,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,15.5,Dodge Challenger,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,15.2,AMC Javelin,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,13.3,Camaro Z28,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,19.2,Pontiac Firebird,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,27.3,Fiat X1-9,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,26.0,Porsche 914-2,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,30.4,Lotus Europa,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,15.8,Ford Pantera L,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,19.7,Ferrari Dino,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,15.0,Maserati Bora,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,21.4,Volvo 142E,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [6]:
column_to_rownames(mtcars_tbl, var = "car") >> head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<float64>,<int64>,<float64>,<int64>,<float64>,<float64>,<float64>,<int64>,<int64>,<int64>,<int64>
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1

In [7]:
# Adding rowid as a column --------------------------------------------
rowid_to_column(iris) >> head()

   Sepal_Length   rowid  Sepal_Width  Petal_Length  Petal_Width  Species
      <float64> <int64>    <float64>     <float64>    <float64> <object>
0           5.1       0          3.5           1.4          0.2   setosa
1           4.9       1          3.0           1.4          0.2   setosa
2           4.7       2          3.2           1.3          0.2   setosa
3           4.6       3          3.1           1.5          0.2   setosa
4           5.0       4          3.6           1.4          0.2   setosa
5           5.4       5          3.9           1.7          0.4   setosa